html {
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  color: #888;
  margin-top: 100px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #888;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
}

header h1 {
  width: 150px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  margin-left: 30px;
  margin-right: 20px;
}

header #nav-btn a {
  width: 120px;
  height: 50px;
  background: #30c8d6;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

header #nav-btn a:hover {
  background: #1eb4be;
}

#intro {
  margin-bottom: 60px;
}

#intro h1 {
  font-size: 3rem;
  text-align: center;
  color: #1eb4be;
}

#member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro p {
  padding-right: 20px;
}

.btn {
  text-align: center;
  margin-top: 30px;
}

.btn a {
  width: 150px;
  height: 70px;
  background: #30c8d6;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.btn a:hover {
  background: #1eb4be;
}

#goiken {
  position: fixed;
  bottom: 0;
  right: 20px;
}

#goiken a {
  width: 100px;
  height: 40px;
  line-height: 50px;
  background: palevioletred;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 15px 15px;
}

#mainvisual {
  background: #88e7ce;
}

#mainvisual img {
  margin-top: 100px;
}

#slide {
  margin-top: 100px;
}

#slide h2 {
  font-size: 3rem;
  text-align: center;
  color: #1eb4be;
}

#editor {
  margin-top: 100px;
}

#editor h2 {
  font-size: 2rem;
  text-align: center;
  color: #1eb4be;
}

#editor p {
  text-align: center;
}

#path {
  margin-top: 100px;
  margin-bottom: 100px;
}

#path img {
  margin-bottom: 50px;
}

#path h2 {
  font-size: 2rem;
  text-align: center;
  color: #1eb4be;
}

#path p {
  text-align: center;
}

#success {
  background: #2b546a;
}

#success h2 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding-top: 50px;
}

#success p {
  color: #fff;
  text-align: center;
}

#success #success-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#success .success {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  margin: 1%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

#success .success .success:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#success .success .image {
  text-align: center;
}

#success .success img {
  border-radius: 50%;
  width: 50%;
  margin-top: 50px;
}

#success .success p {
  color: #2b546a;
  text-align: center;
}

#success .success .name {
  font-size: 0.75rem;
  color: #aaa;
}

#success .success .country {
  font-size: 0.75rem;
  color: #aaa;
}

#success #success-btn {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 200px;
}

#success #success-btn a {
  width: 150px;
  height: 70px;
  background: #fff;
  color: #2b546a;
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#success #success-btn a:hover {
  background: #eee;
}

.success:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#lessen {
  margin-bottom: 100px;
}

#course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
  border-radius: 5px;
  margin-top: 200px;
}

#course #course-image {
  width: 50%;
  padding-top: 50px;
}

#course #course-image img {
  width: 80%;
}

#price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#free {
  width: 47%;
  text-align: center;
  background: #eee;
  border-radius: 5px;
}

#free h2 {
  font-size: 2rem;
  color: #2b546a;
}

#free p {
  margin-bottom: 60px;
}

#plus {
  width: 47%;
  text-align: center;
  background: #f7edad;
  border-radius: 5px;
}

#plus h2 {
  font-size: 2rem;
  color: #2b546a;
}

#plus p {
  margin-bottom: 75px;
}

.menu {
  color: #2b546a;
}

.price-data {
  color: #2b546a;
  font-size: 4rem;
}

.price-data .yen {
  font-size: 2rem;
}

.zei {
  font-size: 2rem;
}

.manth {
  font-size: 2rem;
}

#apuli {
  margin-bottom: 100px;
  background-color: #eeeeee;
}

#apuli h2 {
  text-align: center;
  font-size: 2rem;
  color: #2b546a;
  padding-top: 50px;
}

#apuli p {
  text-align: center;
}

#apuli-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #90c3f0;
  border-radius: 5px;
  padding-left: 50px;
  padding-top: 80px;
}

#apuli-content h2 {
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
}

#apuli-content p {
  color: #fff;
  text-align: left;
  margin-bottom: 100px;
}

#first {
  margin-bottom: 150px;
}

#first h2 {
  font-size: 2rem;
  color: #2b546a;
  text-align: center;
}

#first p {
  text-align: center;
}

#last {
  background-color: #eeeeee;
  height: 400px;
}

#last h2 {
  font-size: 2rem;
  color: #2b546a;
  text-align: center;
  padding-top: 100px;
}

#last p {
  text-align: center;
}

#sns-logo {
  text-align: center;
  margin-top: 100px;
  border-bottom: dotted 1px #dddddd;
  padding-bottom: 50px;
}

#sns-logo img {
  margin-left: 10px;
  margin-right: 10px;
}

#footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

#footer-flex1 {
  width: 30%;
}

#footer-flex1 img {
  width: 100px;
}

#footer-flex2 {
  width: 20%;
}

#footer-flex2 h2 {
  font-size: 1.5rem;
  color: #2b546a;
}

#footer-flex2 a {
  display: block;
  padding-bottom: 15px;
  font-size: 0.75rem;
  color: #2b546a;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

#footer-flex2 a:hover {
  color: #1eb4be;
}

#footer-flex3 {
  width: 20%;
}

#footer-flex3 h2 {
  font-size: 1.5rem;
  color: #2b546a;
}

#footer-flex3 a {
  display: block;
  padding-bottom: 15px;
  font-size: 0.75rem;
  color: #2b546a;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#footer-flex3 a:hover {
  color: #1eb4be;
}

#footer-flex4 {
  width: 30%;
}
/*# sourceMappingURL=styles.css.map */